@font-face {
  font-family: 'Poppins-bold';
  src: url('../../public/Font/Poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'Poppins';
  src: url('../../public/Font/Poppins/Poppins-Light.ttf');
}

:root,
body{
  font-family: Poppins;
}
.display {
  background-color: #212c43;
}

.feed-posts-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.ant-card .ant-card-actions {
  display: flow-root;
}
.post-container{
  width: 60%;
  align-self: center;
  margin-bottom: 35px;
  gap: 0px !important;
}
.accordion-post-container{
  margin-top: -11px;
  background-color: white;
}
.commant-post{
  display: flex;
  flex-direction: column;
}
.commant-post-date{
  font-size: 10px;
  color: #212c43;
}
.commant-post-avatar{
  background-color: #5c6063;
  display: flex;
  place-self: flex-start;
}
.commant-post-description{
  display: contents;
  margin-left: 5%;
}
.commant-post-divider{
  margin: 1% 0;
}
.post-send-comment-container{
  display: flex;
}
.post-send-comment-input{
  margin: 0 2% 0 2%;
  width: 70%;
}
.post-send-comment-button{
  display: list-item;
}
.post-send-comment-icon{
  display: block !important;
}
.post-send-comment-devider{
  display: flex;
  height: 3vh;
  place-self: center;
  margin-left: 3%;
}
.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px !important;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 35px;
  box-shadow: 0 4px 30px rgb(255 255 255 / 10%);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.form-welcome{
  margin-top: 10%;
  margin-bottom: 15%;
  font-size: 42px;
}
.form-subTitle{
  font-size: 24px;
  margin-left: 5%;
}
.login-form-container {
  display: flex;
  align-items: center;
  width: 100%
}
.login-icon{
  padding-right: 8%;
  padding-top: 4%;
}
.post {
  width: 100%;
  padding: 10px;
  margin: 10px auto;
  width: 100%;
  text-align: left;
  border-radius: 10px;
  color: #ffffff;
}
.post-avatar {
  background-color: #5baaec;
  display: flex;
  place-self: flex-start;
}
.post-title-date{
  font-size: 12px;
  color: gainsboro;
}
.ant-card-meta-avatar{
  display: flex;
  align-items: center;
  justify-content: center;
}
.ant-card-meta-title{
  font-size: 30px;
  font-family: Poppins !important;
}
.form-control {
  display: inline-flex;
  height: 55px;
  line-height: 1.2;
  color: #333;
  font-size: 21px;
}
.chart-line {
  height: 50%;
  width: 100% !important;
}
::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #5baaec; 
}
::-webkit-scrollbar-thumb:hover {
  background: #1c8be6; 
}
.list-group-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #5f85db;
  overflow-x: hidden;
}
.list-group-title{
  display: flex;
  justify-content: center;
  width: 16vh;
  font-size: 36px;
  color: white;
}
.list-group {
  display: flex;
  align-items: center;
  place-content: center;
  margin-left: 7%;
  width: 13vh;
  height: 10vh;
  margin-top: 10%;
  padding-right: 0;
}
.list-group:hover {
  background-color: #425888 !important;
  font-size: 21px !important;
}
.list-group-item-unselected {
  background-color: #5baaec;
  cursor: pointer;
}
.list-group-item-selected {
  background-color: white;
  background-color: #425888 !important;
  font-size: 21px !important;
}
.list-group-item-name{
  color: #ffffff;
}
.feed {
  background-color: #212c43;
}
.feed-chart {
  margin-top: 2%;
  margin-bottom: 10%;
}
.feed-chart-title { 
  
  display: flex;
  justify-content: center;
  font-size: 24px;
  color: white;
  margin-bottom: 5%;
  margin-top: 5%;
}
.feed-chart-nothing {
  display: flex;
  justify-content: center;
  font-size: 24px;
  color: white;
  margin-bottom: 5%;
  margin-top: 5%;
}
.feed-post-details {
  background-color: #212c43;
  display: flex;
  justify-content: center;
}
.feed-post-title {
  display: flex;
  justify-content: center;
  font-size: 24px;
  color: white;
  margin-bottom: 5%;
}
.post-admin-delete {
  position: absolute;
  right: 5%;
}
.formDisplay {
  position: fixed;
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5em;
  font-weight: bold;
  background-color: #212c43;
  color: #ffffff;
}
label {
  font-size: 15px;
}
.formButton {
  margin: 30px 0 5% 0;
  width: 80%
}
.formButton-login {
  width: 100%;
  height: 50px;
  font-family: Poppins-bold;
  font-size: 16px;
  line-height: 1.2;
  text-transform: uppercase;  
  border-radius: 30px;
}
.board {
  display: contents;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-column-gap: 10px;
  column-gap: 10px;
  grid-row-gap: 10px;
  row-gap: 10px;
  background-color: #212c43;
}
.addPost {
  position: inherit;
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: revert;
  text-align: -webkit-center;
  flex-direction: column;
  font-weight: bold;
  background-color: #212c43;
  color: #ffffff
}
textarea {
  width: 50% !important;
}
.custom-chart {
  display: block;
  box-sizing: border-box;
  height: 450px;
  width: 600px;
}
.welcome-container{
  padding-bottom: 10%;
}
.welcome-icon{
  color:orange;
  margin-right: 1%;
}
.welcome-new-post-button{
  display: flex;
  align-items: center;
  position: absolute;
  margin-top: 2%;
  margin-left: 4%;
  background-color: green;
}
.welcome-new-post-button:hover{
  display: flex;
  align-items: center;
  position: absolute;
  margin-top: 2%;
  margin-left: 4%;
  background-color: rgb(76, 138, 76) !important;
}
.welcome-message{
  display: flex;
  padding-left: 3%;
  padding-top: 2%;
  font-size: 16px;
  font-family: Poppins-bold;
}
.welcome-message-sec{
  display: flex;
  padding-left: 5%;
  font-size: 12px;
  color: darkgrey;
  font-family: Poppins;
}
.Empty-Wall {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5em;
  color: #ffffff;
}
.like-container{
  margin: 1% 1% 0 6%;
}
.like-icon {
  cursor: pointer;
  display: inline-flex;
  margin-right: 5px;
}
.navbar-collapse {
  justify-content: center;
}
.navbar-brand{
  margin-right: 0px;
}
.nav-links-container {
  justify-content: flex-end;
  left: 0;
  position: absolute;
  display: flex;
}
.form-group {
  padding-top: 10px;
}
.modal-footer-icon{
  display: inline-grid !important;
}
.navBar-icon{
  display: inline-grid;
  margin-right: 4px;
}
.nav-item-divider{
  display: flex;
  height: 3vh;
  place-self: center;
  border-color:#3e5481;
}
.form-signup{
  font-size: 12px;
  margin-bottom: 25px;
}
.form-signup-button{
  font-size: 15px;
  margin-left: -10px;
}

.feed-user-container{
  margin-bottom: 2%;
  font-size: 18px;
}
.feed-user-icon {
  width: 40px;
  height: 40px;
  line-height: 38px;
  border-radius: 50%;
  background-color: #5baaec;
}
.feed-empty{
  height: 100%;
  margin-top: 10%;
  font-size: 28px;
}
.empty-wall-text{
  color: white;
}
.welcome-go-your-feed{
  margin-top: -5px;
}
.welcome-go-your-feed-icon {
  display: inline-flex !important;
}
.feed-statistic-container{
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-left: 5%;
}
:where(.css-dev-only-do-not-override-ed5zg0).ant-statistic .ant-statistic-title{
  color: white;
  font-family: Poppins;
  font-size: 16px;
}