:root,
.display {
  background-color: #353941;
}
.feed-posts-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.post-container{
  width: 40vh;
  align-self: center;
  margin-bottom: 35px;
}
.post {
  width: 100%;
  padding: 10px;
  margin: 10px auto;
  width: 100%;
  text-align: left;
  border-radius: 10px;
  color: #ffffff;
}
.post-avatar {
  background-color: #5baaec;
  display: flex;
  align-items: center;
  justify-content: center;
}
.post-title-date{
  font-size: 12px;
  color: gainsboro;
}
.ant-card-meta-avatar{
  display: flex;
  align-items: center;
  justify-content: center;
}
.ant-card-meta-title{
  font-size: 30px;
  font-family: rubik, arial !important;
}
textarea.form-control {
  display: table;
}
.chart-line {
  height: 50%;
  width: 100% !important;
}
.list-group-container{
  height: 93vh;
  width: 10vh;
  display: flex;
  flex-direction: column;
  background-color: #5f85db;
}
.list-group-title{
  font-size: 24px;
}
.list-group {
  display: flex;
  align-items: center;
  margin-left: 5%;
  width: 10vh;
  margin-top: 2vh;
}
.list-group-item-unselected {
  background-color: #5baaec;
  cursor: pointer;
}
.list-group-item-selected {
  background-color: black;
  color: white;
}
.list-group-item-name{
  color: #33425b;
}
.feed {
  background-color: #353941;
}
.formDisplay {
  position: fixed;
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5em;
  font-weight: bold;
  background-color: #353941;
  color: #ffffff;
}
label {
  font-size: 15px;
}
.formButton {
  align-items: center;
}
.board {
  display: contents;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-column-gap: 10px;
  column-gap: 10px;
  grid-row-gap: 10px;
  row-gap: 10px;
  background-color: #353941;
}
.addPost {
  position: inherit;
  width: 100%;
  display: inline-flex;
  align-items: revert;
  text-align: -webkit-center;
  flex-direction: column;
  font-weight: bold;
  background-color: #353941;
  color: #ffffff
}
textarea {
  width: 50% !important;
}
.custom-chart {
  display: block;
  box-sizing: border-box;
  height: 450px;
  width: 600px;
}
.Empty-Wall {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5em;
  color: #ffffff;
}
.like-icon {
  cursor: pointer;
  display: inline-flex;
  margin-right: 5px;
}
