:root,
.display {
  background-color: #353941;
}
.feed-posts-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.ant-card .ant-card-actions {
display: flow-root;
}
.post-container{
  width: 60%;
  align-self: center;
  margin-bottom: 35px;
}
.post-send-comment-container{
  display: flex;
}
.post-send-comment-input{
  margin: 0 2% 0 2%;
  width: 70%;
}
.post-send-comment-button{
  display: list-item;
}
.post-send-comment-icon{
  display: block !important;
}
.post-send-comment-devider{
  display: flex;
  height: 3vh;
  place-self: center;
  margin-left: 3%;
}
.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 60%;
  background: rgba(255, 255, 255, 0.14);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.34);
}
.form-welcome{
  font-family: Impact;
  font-weight: 400;
  font-style: italic;
  margin-top: 10%;
  margin-bottom: 15%;
  font-size: 42px;
}
.form-subTitle{
  font-size: 24px;
  margin-left: 5%;
}
.login-form-container {
  display: flex;
  align-items: center;
  width: 100%
}
.login-icon{
  padding-right: 8%;
  padding-top: 4%;
}
.form-mainTitle{
  display: flex;
  justify-content: center;
  width: 25%;
  background: rgba(17, 156, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(17, 156, 255, 0.3);
}
.post {
  width: 100%;
  padding: 10px;
  margin: 10px auto;
  width: 100%;
  text-align: left;
  border-radius: 10px;
  color: #ffffff;
}
.post-avatar {
  background-color: #5baaec;
  display: flex;
  align-items: center;
  justify-content: center;
}
.post-title-date{
  font-size: 12px;
  color: gainsboro;
}
.ant-card-meta-avatar{
  display: flex;
  align-items: center;
  justify-content: center;
}
.ant-card-meta-title{
  font-size: 30px;
  font-family: rubik, arial !important;
}
textarea.form-control {
  display: table;
}
.chart-line {
  height: 50%;
  width: 100% !important;
}
.list-group-container{
  height: 100%;
  width: 10vh;
  display: flex;
  flex-direction: column;
  color: #5f85db;
}
.list-group-title{
  font-size: 24px;
}
.list-group {
  display: flex;
  align-items: center;
  margin-left: 5%;
  width: 10vh;
  margin-top: 2vh;
}
.list-group-item-unselected {
  background-color: #5baaec;
  cursor: pointer;
}
.list-group-item-selected {
  background-color: black;
  color: white;
}
.list-group-item-name{
  color: #33425b;
}
.feed {
  background-color: #353941;
}
.formDisplay {
  position: fixed;
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5em;
  font-weight: bold;
  background-color: #353941;
  color: #ffffff;
}
label {
  font-size: 15px;
}
.formButton {
  margin-left: 5%;
}
.board {
  display: contents;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-column-gap: 10px;
  column-gap: 10px;
  grid-row-gap: 10px;
  row-gap: 10px;
  background-color: #353941;
}
.addPost {
  position: inherit;
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: revert;
  text-align: -webkit-center;
  flex-direction: column;
  font-weight: bold;
  background-color: #353941;
  color: #ffffff
}
textarea {
  width: 50% !important;
}
.custom-chart {
  display: block;
  box-sizing: border-box;
  height: 450px;
  width: 600px;
}
.welcome-container{
  padding-bottom: 10%;
}
.welcome-icon{
  color:orange;
  margin-right: 1%;
}
.welcome-new-post-button{
  display: flex;
  align-items: center;
  position: absolute;
  margin-top: 2%;
  margin-left: 4%;
}
.welcome-message{
  display: flex;
  padding-left: 5%;
  padding-top: 2%;
  font-size: 16px;
  font-family: sans-serif;
}
.welcome-message-sec{
  display: flex;
  padding-left: 5%;
  font-size: 12px;
  color: darkgrey;
  font-family: sans-serif;
}
.Empty-Wall {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5em;
  color: #ffffff;
}
.like-container{
  margin: 1% 1% 0 6%;
}
.like-icon {
  cursor: pointer;
  display: inline-flex;
  margin-right: 5px;
}
.navbar-collapse {
  justify-content: center;
}
.navbar-brand{
  margin-right: 0px;
}
.nav-links-container {
  justify-content: flex-end;
  left: 0;
  position: absolute;
  display: flex;
}
.form-group {
  padding-top: 10px;
}
.modal-footer-icon{
  display: inline-grid !important;
}
.logout-icon{
  display: inline-grid;
}
